<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
  <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <title>Document</title>
</head>
<body>
  <input id="link" type="text" value="http://cartoonsub.com/oneseries.php?id_series=1716&id_serials=49">
  <button onclick="downloadEpisode()">Download</button>

  <div id="tasks"></div>

<script src="https://unpkg.com/notie"></script>
<script>
let session = null
const socket = io('http://localhost:3000');

const tasks = {}

socket.on('connect', () => {
  // let token = socket.handshake.query.token;
  console.log(socket.id)
  updateAllTasks()
});

socket.on('message', (a) => {
  notie.alert({ type: a.type, text: a.message })
});

socket.on('task', (task) => {
  tasks[task.id] = task

  renderTasks()
});

function renderTasks() {
  let html = ''

  for (const task of Object.values(tasks)) {
    html += `
    <div class="task">
      ${task.meta.title} (${Math.floor(task.procent)})
    </div>
    `
  }
  
  document.getElementById('tasks').innerHTML = html
}

function downloadEpisode() {
  post('/api/cartoon/downloadEpisode', {
    link: document.getElementById('link').value
  }, (res) => {
    const task = res.data.task
    tasks[task.id] = task
  })
}

function updateAllTasks() {
  post('/api/task/read', {}, (res) => {
    Object.assign(tasks, res.data)
    renderTasks()
  })
}

function post(url, body, cb) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', url);
  xhr.onload = () => cb(JSON.parse(xhr.responseText));
  xhr.setRequestHeader('socket', socket.id)
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.send(JSON.stringify(body));
}
</script>
</body>
</html>